/* General Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	color: #333;
	background-color: #f4f4f4;
	padding: 20px;
}

.container {
	max-width: 800px;
	margin: auto;
	background: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
	color: #333;
	text-decoration: none;
}

/* Header */
header {
	margin-bottom: 20px;
}

header h1 {
	margin-bottom: 10px;
}

header nav a.active {
	font-weight: bold;
}

.breadcrumbs {
	display: none;
}

/* Main Content */
main.home {
	margin-bottom: 20px;
}

main.home > header h2 {
	display: none;
}

main.home h2,
main.home h4 {
	color: #333;
	margin-bottom: 10px;
}

main.home p,
main.home pre {
	margin-bottom: 10px;
}

main ul {
	margin-inline-start: 1.2rem;
}

main.home pre {
	background-color: #eee;
	padding: 10px;
	border-radius: 5px;
	overflow: auto;
}

main.home code {
	background-color: #f9f9f9;
	color: #d63384;
	padding: 2px 5px;
	border-radius: 3px;
}

main > article > :not(header) {
	display: none;
}

/* Sitemap Aside */
aside.sitemap {
	margin: auto;
	display: flex;
	justify-content: center;
}

aside.sitemap > ul > li:first-child {
	display: none;
}

aside.sitemap ul {
	background: rgba(0, 0, 0, 0.03);
	padding: 0.5rem;
	border-radius: 0.5rem;
	list-style: none;
	margin-left: 1rem;
	/* margin-bottom: 20px; */
}

aside.sitemap ul:not(:last-child) {
	margin-bottom: 0.5rem;
}

aside.sitemap ul:not(:has(li)) {
	display: none;
}

aside.sitemap a {
	display: block;
	padding: 5px 0;
}

/* Footer */
footer {
	text-align: center;
	margin-top: 20px;
	font-size: 0.8em;
	color: #666;
}
